.btn {
	padding: 0 28px;
	border: none;
	cursor: pointer;
	height: 48px;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	@include bold;
	transition: .5s all ease;

	&:focus {
		outline: none;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: .6;
		&.btn-primary {
			background-color: #28353D !important;
			color: $white !important;
		}
		&.btn-orange {
			background-color: #FF7F08 !important;
			color: $white !important;
		}
	}

	&.btn-block {
		width: 100%;
		display: flex;
	}

	&.btn-primary {
		background-color: #28353D;
		color: $white;
		&:hover {
			background-color: #FF7F08;
		}
	}

	&.btn-orange {
		background-color: #FF7F08;
		color: $white;
		&:hover {
			background-color: #28353D;
		}
	}
}